# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
build/
out/
*.tsbuildinfo

# Environment & Secrets
.env
.env.local
.env.*.local
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & OS Metadata
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing & Coverage
coverage/
*.lcov
.nyc_output/